<html>

<head>
  <title>Approval Voting</title>
  <!-- Include htmx via CDN -->
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>

<body>

  <h1>Make a Poll</h1>
  <form onSubmit={handleSubmit}>
  <div>
    <label htmlFor="candidates">Please enter all the options you'd like people to vote on here. One per line:</label>
    <br />
    <textarea
    id="candidates"
    value={candidates}
    onChange={(e) => setCandidates(e.target.value)}
    cols={50} />
  </div>
  <div>
    <label htmlFor="seats">Number of options that will be selected:</label>
    <br />
    <input
    type="number"
    id="seats"
    value={seats}
    onChange={(e) => setSeats(e.target.valueAsNumber)}
    />
  </div>
  <button type="submit">Create Poll</button>
  </form>
</body>

</html>