<html>

<head>
  <title>Approval Voting</title>
  <!-- Include htmx via CDN -->
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>

<body>

  <h1>Make a Poll</h1>

  <form hx-post="/pollsubmit" hx-target="#response" hx-swap="innerHTML">
    <label for="candidates">Please enter all the options you'd like people to vote on here. One per line:</label>
    <br />
    <textarea id="candidates" name="candidates" cols="50"></textarea>
    <br />
    <label for="seats">Number of options that will be selected:</label>
    <br />
    <input type="number" id="seats" name="seats" value=0 />
    <br />
    <button type="submit">Create Poll</button>
  </form>
  <div id="response"></div>
</body>

</html>