<html>

<head>
  <title>Approval Voting</title>
  <!-- Include htmx via CDN -->
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>

<body>
  <div>
    <h1>Vote!</h1>
    <form hx-post="/votesubmit" hx-target="#response" hx-swap="innerHTML">
      <input type="hidden" name="poll_id" value="{{ poll_id }}" />
      <label>
        Your email (required to edit your vote):
        <input type="text" name="user_email" />
      </label>
      <br /><br />
      Select all options that you approve of:
      <br />
      {% for id, candidate in candidates %}
      <label>
        <input type="checkbox" name="poll_option" value="{{id}}" /> {{candidate}}
      </label>
      <br />
      {% endfor %}
      <br />
      <button type="submit">Submit Vote</button>
    </form>
    <div id="response"></div>
    <p>There will be {{seats}} options selected after the poll closes.</p>
  </div>
</body>

</html>