<html>

<head>
  <title>Approval Voting</title>
  <!-- Include htmx via CDN -->
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>

<body>
  <h1>Vote!</h1>
  Select all options that you approve of:
  <div>
    {candidateList.map((candidate, index) => (
    <div key={index}>
      <label>
        <input type="checkbox" value={candidate} checked={selectedOptions.includes(candidate)}
          onChange={handleChange} />
        {candidate}
      </label>
    </div>
    ))}
    <p>There will be {seats} options selected after the poll closes.</p>

    <button type="button" onClick={handleSubmit}>Submit Vote</button>
  </div>
</body>

</html>