<form hx-post="/start_session" hx-target="#response" hx-swap="innerHTML">
  <p>Your user session has expired. Please reverify your email address.</p>
  <br />
  <button type="submit">Send verification link to email</button>
</form>