<form hx-post="/verification" hx-target="#verification_response" hx-swap="innerHTML">
  <input type="hidden" name="origin_function" value="{{ origin_function }}" />
  <input type="hidden" name="user_id" value="{{ user_id }}" />
  <input type=text id="code" name="code" required />
  <br />
  <br />
  <button type="submit">Submit verification code</button>
</form>
<div id="verification_response"></div>