{% if origin_function == "new_poll" %}
  <form hx-post="/verification" hx-target="#poll-form-container" hx-swap="outerHTML">
{% elif origin_function == "login" %}
  <form hx-post="/verification" hx-target="#response" hx-swap="innerHTML">
{% else %}
  <form hx-post="/verification" hx-target="#response" hx-swap="innerHTML">
{% endif %}
  <input type="hidden" name="origin_function" value="{{ origin_function }}" />
  <input type="hidden" name="user_id" value="{{ user_id }}" />
  <p>A verification code has been sent to your email. Please enter it below:</p>
  <input type="text" id="code" name="code" placeholder="1234" class="text-lg w-full mt-2" required />
  <button type="submit" class="mt-2 bg-blue-600 hover:bg-blue-700 text-white font-medium px-4 py-2 rounded-full transition duration-150 ease-in-out mt-2">
    Submit verification code
  </button>
</form>